

@import "typography"; //import of stylesheet typography
@import "colors"; //import of stylesheet colors

@basecolor: #DDD;
@fancybgcolor: #ABCDEF;
@font: OpenSans, verdana, sans-serif;
@highlightcolor: white; //variable


html{   
    background-color: @basecolor;
    font-family: @font;  
    .highlight //mixin   
}

body{
    div{
    img#BannerPicture{
         position: absolute;
         top: 90px;
         background-attachment: fixed;
        // left: 0px;
        // right: 0px;
        // width: 100%;
        // height: 200px;
        // z-index: 1;
    }
        p#HeaderText{
            font-size: 10px;
            color: red;
        }
    }
}

    


.highlight
{
    background-color:@highlightcolor;
}

.mainsection
{
    background-color:@basecolor;
    .p{ //nested queries
        color:@highlightcolor;
    }
    .a{
        text-decoration: underline;
        color:@alternativecolor;
        background-color:@fancybgcolor;        
    }
}






