

@import "typography"; //import of stylesheet typography
@import "colors"; //import of stylesheet colors

@basecolor: #DDD;
@fancybgcolor: #ABCDEF;
@font: OpenSans, verdana, sans-serif;
@highlightcolor: white; //variable


html{   
    background-color: @basecolor;
    font-family: @font;  
    .highlight //mixin   
}

body#homeBody{
    .container {
        position: relative;
        left: 0px;
    }

    div.container img#homePageImage{
        margin-left: 0px;
    }
    
    /* Bottom right text */
    div.container div.text-block {
        position: absolute;
        top: 20px;
        left: 20px;
        // background-color: darkblue;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
    }
    div.welcomeTextClass p#welcomeText{
        color: blue;
        top: 10px;
    }
    nav.navbar{
        top: 0px;
    }
}

.highlight
{
    background-color:@highlightcolor;
}

.mainsection
{
    background-color:@basecolor;
    .p{ //nested queries
        color:@highlightcolor;
    }
    .a{
        text-decoration: underline;
        color:@alternativecolor;
        background-color:@fancybgcolor;        
    }
}






