@fontfamily: Open Sans, verdana, sans-serif;
@basefontcolor: #333;
@alternativecolor: #DDD;
@basefontsize: 1cm;

.link
{
    color:@alternativecolor;
    text-decoration: underline;
    border-color: @alternativecolor;
}

.h2
{
    color:red;
}

.developer-cards
{
    font-size: @basefontsize;
    .card-text{
        font-size: @basefontsize;
    }
}
