.link {
  color: #DDD;
  text-decoration: underline;
  border-color: #DDD;
}
.h2 {
  color: red;
}
h2.developer-cards#developer-cards {
  font-size: 0.5rem;
  color: red;
}
h2.developer-cards#developer-cards p.card-text#card-text {
  font-size: 0.5rem;
  color: red;
}
section {
  color: red;
}
